<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="True_Stretched.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <True_Stretched.My.MySettings>
            <setting name="LastLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AutoClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoMinimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NativeResolution" serializeAs="String">
                <value>1920x1080</value>
            </setting>
            <setting name="StretchedResolution" serializeAs="String">
                <value>1440x1080</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SetDisplayResolution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RevertDisplayResolution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monitors" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedGame" serializeAs="String">
                <value>Valorant</value>
            </setting>
            <setting name="GameLabelLocation" serializeAs="String">
                <value>75, 11</value>
            </setting>
            <setting name="MonitorGameRunsOn" serializeAs="String">
                <value />
            </setting>
            <setting name="MainGPU" serializeAs="String">
                <value />
            </setting>
            <setting name="DevBuild" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BetaBuild" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BetaLetter" serializeAs="String">
                <value>c</value>
            </setting>
            <setting name="SkippedVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckForUpdateOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ValorantWidescreenFix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ValorantFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
        </True_Stretched.My.MySettings>
    </userSettings>
</configuration>
